.text-pink {
  color: #e83e8c;
}

.btn-pink {
  background-color: #e83e8c !important;
  color: white !important;
  border: none !important;
}

.btn-pink:hover {
  background-color: #d63384 !important;
  color: white !important;
}

.btn-pink:active {
  background-color: #c13573 !important;
  color: white !important;
}

input.form-control {
  border: 2px solid #ccc;
  padding: 10px;
}

input.form-control:focus {
  border-color: #e83e8c;
  box-shadow: 0 0 10px rgba(232, 62, 140, 0.5);
}

.bg-pink {
  background-color: #e83e8c !important;
}

.bg-pink-for-modal {
  background-color: #7b0d3df1;
}

.bg-for-footer {
  background-color: #000000c1;
}

.form-check-input:checked {
  background-color: #e83e8c !important;
  border-color: #e83e8c !important;
}

.form-check-input:focus {
  border-color: #e83e8c !important;
  box-shadow: 0 0 0 0.25rem rgba(232, 62, 140, 0.5) !important;
}

.movie-card {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-10px);
}


